<section class="mobilesec"><input class=" mobile"type="text" name="inputmobile" placeholder="Type a letter">
</section>

<section class="sectionKeys">
    <section class="numsec">
        <p class="number">Number Key:</p>
        <span class=" nkey js_nk"></span>
    </section>

    <section class="keysec">

        <p class="key">Key:</p>
        <span class=" k js_k"></span>
    </section>

    <section class="codesec">
        <p class="keycode">Key Code:</p>
        <span class=" code js_c"></span>
    </section>
</section>