.footersec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(60px);
  }
  .footer{
    font-family: "Cormorant Garamond", serif;
    font-size: 16px;
    font-weight: 800;
  }